# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
.next/
.nuxt/
.output/
.vite-inspect/
dist/
build/
.cache/
.temp/
.tmp/
.parcel-cache/

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache/

# Vercel
.vercel/

# Mac
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws